.navbar{
    display: flex;
    font-size: 12px;
}
.icon{
    width: 35px;
    height: 35px;

}
.avtive{

}

/* XS 0px - 600px */
@media only screen and (min-width: 0px) and  (max-width: 640px) {
    .navbar{
        display:flex;
    }
    .icon{
        width: 15px;
        height: 15px;

    
    }
}



/* SM 601px - 820px */
@media only screen and (min-width: 641px) and  (max-width: 820px) {
    .navbar{
        display:flex;
    }
    .icon{
        width: 20px;
        height: 20px;
       
    }
}

/* MD 821px - 1250px */
@media only screen and (min-width: 821px) and  (max-width: 1250px) {
    .navbar{
        display:flex;
    }
}


/* LG 1251px - 1500px */
@media only screen and (min-width: 1251px) and  (max-width: 1500px) {
    .navbar{
        display:none;
    }
}

/* XL 1501px ++  */
@media only screen and (min-width: 1501px)    {
    .navbar{
        display:none;
    }
}


/* XXL 1921 ++ px */
@media only screen and (min-width: 1921px)  {
    .navbar{
        display:none;
    }
}
